.img-wrapper {
  display: inline-block;
  width: 40%;
  padding: 10px 15px;
}

.img-wrapper img {
  width: 100%;

}

.cguitar1{
	width: 500px;
	height: 500px;
    display: none;
	
	left:34px;
	top:254px;
}

.cguitar2{
	opacity:0;
	width: 600px;
	height: 500px;
    display: none;
	
	left:34px;
	top:254px;
}




.flute1{
	display: inline-block;
	width: 500px;
	height: 500px;
	left:34px;
	top:254px;
}



.guitar1{
	display: inline-block;
	width: 500px;
	height: 500px;

	left:293px;
	top:254px;
}


.harp1{
	display: inline-block;
	width: 500px;
	height: 500px;

	left:541px;
	top:254px;
}



.keyb1{
	display: inline-block;
	width: 500px;
	height: 500px;
	
	left:34px;
	top:429px;
}

.keyp1{
	display: inline-block;
	width: 500px;
	height: 500px;

	left:293px;
	top:429px;
}

.mic1{
	display: inline-block;
	width: 500px;
	height: 500px;
	
	left:541px;
	top:429px;
}


.musicbox1{
	display: inline-block;
	width: 500px;
	height: 500px;
	
	left:32px;
	top:608px;
}


